
$bg_color: #c4c4c4;
$dark: #2d2d2d;
$green: #5EB62E;
$lime: #9FC32E;
$screen_sm: 768px;
$fontSmall: 12px;
$grey: #444;
$bookStatistikHeight: 35px;
$bookBgOpacity: rgba(0,0,0, 0.5);

body{
	background-color: $bg_color;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-top: 50px;
}

.carousel .item{
	// max-height: 500px;
}

.navbar-brand{
	a{
		font-size: 25px;
		font-weight: bold;
		color: $green;
		text-decoration: none;
		
	}
}

.navbar-nav{
	float:right;
	@media screen and (max-width: $screen_sm){
		float:none;
		margin-left: 0px;
		margin-right: 0px;
	}
	
}

.navbar-collapse{
		@media screen and (max-width: $screen_sm){
			padding: 0px;
		}
	}
#login-btn:before{
	display: table;
	content: "";
}

.tabl{
	display: table;
	height: 50px;
	.tabl-cell{
		display: table-cell;
		width:100%;
		vertical-align: middle;
		text-align: center;
	}
}

.menu-left{
	padding: 0px;
	margin-top: 15px;
	border: 1px solid #000;
	background-color: $dark;
	ul{
		padding: 0px;
		margin: 0px;
		li{

			list-style: none;
			height: 30px;
		}
		a{
			display: block;
			height: 30px;
			line-height: 30px;
			padding: 0px 15px;
			text-decoration: none;
			color: $green;
			width: 100%;
			height: 100%;
			&:hover{
				background-color: #000;
			}
		}
	}
}

.content{
	margin-top: 15px;
}

.filter{
	border: 1px solid green;
	height: 50px;
}

.book-data-short{
	background-color: $bookBgOpacity;
	margin-top: 15px;
	border: 1px solid #000;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	.row{
			padding: 5px 0px;
			margin-left: -10px;
			margin-right: -10px;
		}
	.col-sm-{
		&1,&2,&3,&4,&5,&6,&7,&8,&9,&10,&11,&12{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.thumbnail{
		margin-bottom: 5px;
		background-color: $bookBgOpacity;
	}
	@media screen and (max-width: $screen_sm){
			.book-title-header,.author-header,.description-short{
		padding-left: 10px;
	}
		}
	
	.book-title-header,.author-header{
		font-weight: bold;
	}

	.description-short{
		margin-top: 10px;
	}

	.book-statistic{		
		.upload-date{
			line-height: $bookStatistikHeight;
			font-size: $fontSmall;
			color: $grey;
		}
		.uploaded-by{
			line-height: $bookStatistikHeight;
			font-size: $fontSmall;
			color: $grey;
		}
		.btn-more{
			text-align: right;
		}
	}
}
	


.anuncio{
	margin-top: 15px;
	height: 500px;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: $dark;
}

footer{
	margin-top: 15px;
	height: 50px;
	border: 1px solid #000;
	background-color: $dark;

}


